@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Regular";
    font-weight: 400;
    src: url(/fonts/NetflixSans-Regular.woff2.) format("woff2");
  }
  @font-face {
    font-family: "Bold";
    src: url(/fonts/NetflixSans-Bold.woff2) format("woff2");
  }

}

@layer{
  h1,h2,h3,h4,h5,h6 {
    @apply
    font-Bold
  }

  p {
    @apply
    mb-4
    font-Regular
  }

  img {
    @apply
    block
  }

}

@layer components{
  .btn
  {
    @apply inline-block h-[42px] px-3 py-2 bg-transparent text-white border border-white rounded-md
  }
  
  .btn-accent{
    @apply bg-accent border-accent
  }
  .input-wrapper{
    @apply
    relative
    mb-5
  }

  .input-wrapper input{
    @apply
    w-full
    px-4
    pb-2
    pt-6
    rounded-md
    bg-white/5
    border
    border-white
    outline-none
    text-white
  }

  .input-wrapper label{
    @apply
    absolute
    top-4
    left-5
    text-white
    transition-all
    pointer-events-none
  }

  .input-wrapper input:focus + label,
  .input-wrapper input:valid + label{
    @apply
    text-xs
    top-2
    left-4
  }

}

.feature-list .features:nth-child(even) .content{
  @apply order-1

}

.feature-list .features:nth-child(even) .body{
  @apply order-2
}

.asnwer p{
  @apply
  text-xl
  mb-5
}

.slick-dots {
  @apply absolute top-[-50px] text-right pointer-events-none
}

.slick-dots li button:before {
  @apply content-[''] w-[22px] h-[3px] bg-[#4f4f4f] mx-1 pointer-events-auto
    
}
.slick-arrow:hover svg  {
  @apply opacity-100
}

.slick-next, .slick-prev {
  @apply h-full z-20
}

.slick-next, .slick-prev{
  @apply h-full opacity-50 hover:opacity-100 flex flex-col justify-center items-center mt-[-2px];
}
.slick-next::before, .slick-prev::before{
  @apply hidden;
}
.slick-next svg, .slick-prev svg {
  @apply h-fit  text-white text-4xl opacity-0 ;
}

.movie__info::before {
  @apply content-[''] absolute bottom-full left-0 h-[100px] w-full  block  bg-gradient-to-t from-[rgba(20,20,20,1)] from-15% via-[rgba(20,20,20,.4)] via-60% to-transparent
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #2c2c2cea;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #fd001173;
}